body {
    background-color: #333; /*Color de fondo del body */
    color: white; /* Color de la letra */
    padding: 50px;
    /*El padding en CSS es la propiedad que define el espacio interno entre el 
    contenido de un elemento y el borde de ese mismo elemento. 
    Es decir, crea un área de relleno dentro del contenedor, 
    separando el contenido del borde, lo que evita que el contenido esté 
    "pegado" a los límites del elemento.*/
}
h1 {
    color: yellow; /*Color de letra*/
}
p {
    font-size: 18px;
}